{
  "appMain": "https://portal.galvin.ninja",
  "httpPort": "80",
  "listenOnHTTP": "true",
  "httpsPort": "443",
  "listenOnHTTPS": "false",
  "sslKey": "/etc/pki/tls/private/server.key",
  "sslCert": "/etc/pki/tls/certs/server.crt",
  "host":  "jgalvin.okta.com",
  "apikey":  "blahblahblah"
}
